Temp/*
obj/*
localmedia/*
Library/*
webgltemp/*
Logs/*
build/*
Unused/*
Assets/Plugins/*
.vs/*
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
UserSettings/*
Assembly-CSharp-Editor-firstpass.csproj
log.txt
.vsconfig
*.sln
